* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFD1BB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.chat-container {
    width: 100%;
    max-width: 600px;
    height: 700px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.chat-header {
    background:rgb(224, 120, 23);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #667eea;
}

.chat-info h2 {
    font-size: 18px;
    margin: 0;
}

.chat-info p {
    font-size: 13px;
    margin: 0;
}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

