.box{
    position: relative;
}

#loginPassword{
    width: 100%;
}

#showBtn{
    position: absolute;
    right: 12px;
    top: 43px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #0078ff;
    user-select: none;
}