/* Slide OUT */
.slide-left {
    animation: slideLeft 0.4s ease forwards;
}

.slide-right {
    animation: slideRight 0.4s ease forwards;
}

/* Login → Sign Up */
@keyframes slideLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-30px);
    }
}

/* Sign Up → Login */
@keyframes slideRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(30px);
    }
}